<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Documento HTML5
body

	include stylesheet.pug
	h1 Documento HTML5
	a(class="button" href="google.com", target="_blank") Google
	a.button(href="google.com", target="_blank") Google
	input(
		type="checkbox"
		name="agreement"
		checked
	)
	input(type="checkbox", checked)
	input(type="checkbox", checked=true)
	input(type="checkbox", checked=false)

	a(style={color:"white", background:"crimson"})
	-var clases = ["yellow", "blue", "red"]
	a(class=clases)

	a.button
	.link
	button.large.red.center

	a#link1 // Genera Error
	#btn1

	-var friends = 0
	case friends
		when 0
			p you have no friends
			- break
		when 1
			p you have a friend
		default
			p you have #{friends} friends

	-for (var i=0; i<10; i++)
		li item

	-var list=["Red", "Green", "Blue"]
	each item in list
		li=item
	
	p="This code is"+"<escaped>!"
	p!="This code is"+"<escaped>!"
	p
		= "Code contain <strong>html</strong>"
	p
		!= "Code contain <strong>second html</strong>"

	//- This comment will not output within markup

	//-
		Comments for your template writers.
		Use as much text as you want.
	//

	-var authorised=true
	-var user={description:"Lorem Ipsum Dolor"}
	article#user
		if authorised
			h2.green Description
			p.description=user.description
		else
			h2.red Description
			p.description User has no description

	ul
		each val in [1,2,3,4,5]
			li=val

	ul
		each val,index in ["zero","one","two","three"]
			li=index+";"+val

	-var values=[];
	ul
		each val in values.length ? values:["There are no values"]
			li=val

	-var n=0;
	ul
		while n<4
			li=n++

	mixin pet(name)
		li.pet=name

	ul
		+pet('cat')
		+pet('dog')
		+pet('pig')

	mixin article(title)
		.article
			h1=title
			if block
				block
			else
				p Not content provided

	+article('Hello world')

	+article('Hello world')
		p This is my
		p Amazing articles


	include Javascript.pug
	